/*font-family: 'Roboto', sans-serif;*/
body{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}
/*header start*/
header{
	background-color: #19283f;
	padding: 20px 0;
}
.logo{}
.menu{
 
}
.sbu{

}
.menu ul li a{
	font-weight: 400;
	font-size: 15px;
	color: #a8b9c0 !important;
	text-transform: capitalize;
	transition: .3s;
	text-align: center;
}
.menu ul li:last-child a{
	padding-right: 0px !important;
}
.menu ul li a:hover{
	color: #00c6bf !important;
}
.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-toggler:hover, .navbar-toggler:focus {
 
    outline: 0;
}
.ss{
	margin-left: 15px;
}
.search{
	font-weight: 500;
	font-size: 15px;
	width: 100% !important;
	background-color:#ffffff !important;
	outline: 0!important;
	border:none!important;
	text-align: center;
	height: 33px;
	margin-left: 0 !important;
	border-radius: 15px;
}
.form-control:focus{  
    outline: 0;
    box-shadow: 0 ;
}
.btn btn-danger {
	border-radius: 15px;
}
.login{
	font-weight: 500;
	font-size: 15px;
	border:none !important;
	color: #ffc501;	
	border-radius: 15px;
}
.banner{
	padding: 80px 0;
}
.title{
	padding: 60px 0;
}
.t-h1{
	font-weight: 300;
	font-size: 51.16px;
	color: #f0f8fb;	
	margin-bottom: 20px;
}
.t-h2{
	font-weight: 400;
	font-size: 15px;
	color: #a8b9c0;
	margin-bottom: 30px;
}
.started{
	width: 200px;
	border-radius: 15px;

}
/*header end*/

/*service 1 start*/
.service-one{
	padding-top: 20px;
	padding-bottom: 80px;
}
.text-center{
	padding-bottom: 15px;
}
.share{
	padding: 20px 0;
	transition: .3s;

}
.share:hover{
	color: white;
	transform:rotate(360deg);
}
.good{
	font-weight: 500;
	font-size: 35px;
	color: #1a2940;
	padding-bottom: 15px;

}
.text{
	font-weight: 400;
	font-size: 15px;
	color: #a8b9c0;
	border-bottom: 1px solid #00c6bf;
	padding-bottom: 10px;
}
.text-two{
	font-weight: 500;
	font-size: 20px;
	color: #ffc501;
	text-transform: uppercase;
	padding: 5px 0;

}
.t-h22{
	font-weight: 400;
	font-size: 15px;
	color: #a8b9c0;
	word-spacing: 1px;
	letter-spacing: 1px;

}
/*service 1 end*/
/*service 2 start*/

.service-two{
	    padding-top: 20px;
    padding-bottom: 80px;
	background-color: #d4ebf2;
}
.s-nav{
	padding: 40px 0;
}
.btn-light{
	font-weight: 400;
	font-size: 15px;
	outline: none !important;
	border:none !important;
	transition: .3s;
	margin: 0 10px;
}
.btn-light:hover{
	background-color: #ff3150 !important;	
}
.card-title {
    margin-top: 30px;
}
.bg-dark {
    background-color: white !important;  
}
.box{
	margin-bottom: 20px;	
}
.want{
	    margin-top: 30px;
}
.card-img, .card-img-top, .card-img-bottom {
   width: 100%;
     
}
.new{
	padding: 10px 0;
}
/*service 2 end */

/*slider start*/
.slider{
	padding-top: 20px;
    padding-bottom: 80px;
}
.texttext{
	font-weight: 300;
	font-size: 15px;
	color: #a8b9c0;
}
.cid{
	bottom: -20px; 
}
.cid li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff3150 !important;
}
.cid .active { 
}
.s-content{
	margin-top: 10px;
	margin-bottom: 50px;
}
.s-img{
}
.s-img img{
	height: 250px;
}
/*slider end*/

/*team start*/
.team{
	padding-top: 80px;
    padding-bottom: 80px;
	background-color: #d4ebf2;
}
.goodd{
	font-weight: 500;
	font-size: 35px;
	color: #fec812;
}
.member {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100% !important;
  border-radius: 50%;
  transition: .5s ease;
  backface-visibility: hidden;
  border:5px solid #33d1cc !important ;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  top: 50%;
}
.member:hover .image {
  opacity: 0.3;
}
.member:hover .middle {
  opacity: 1;
}
.text1{
  font-weight: 400;
  font-size: 20px;
  background-color: #33d1cc;
  color: white;

}
.text2{
	font-weight: 400;
	font-size: 15px;
	color: #a8b9c0;
	text-align: center;
	padding: 10px 0;
}
/*team end*/

/*Sponsor start*/
.sponsor{
	padding: 80px 0;
}
.imgg{
	width: 100%;
	height: 60px;
	text-align: center;
	transition: .5s;
	padding: 0 20px;
}
.imgg:hover{
	color: white;
	 transform: scale(1.4);
}

.bg-dark {
    outline: none;
    border: none;
    text-align: center;
}
/*Sponsor end*/

/*start start*/
.start{
	padding: 80px 0;
	background-color: #19283f;
}
/*start end*/
/*blog start*/
.blog{
	padding-top: 20px;
    padding-bottom: 80px;
}
.text12{
	font-weight: 400;
	font-size: 15px;
	padding: 5px 0;
	color: #a8b9c0;
	text-align: left;

}
.text13{
	font-weight: 400;
	font-size: 20px;
	color: #1a2940;
	text-align: left;

}
.bu{
	padding: 0;
}
/*blog end*/

/*news start*/
.news{
	padding: 80px 0;
	background-color: #ffc400;
}
.single{
	text-align: center;
	padding: 0 40px;
}
.form{
	margin-right: 10px;
	margin-left: 10px;
	outline: none !important;
	border:none !important;
	border-bottom: 3px solid white !important;
	background-color: transparent !important;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
}
.text13{
	padding-top: 10px;
}
.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
	
}
.submit{
	font-weight: 400;
	font-size: 15px; 
	border-radius: 25px;
	background-color: #19283f !important;
	color: yellow !important;
	outline: none !important;
	    margin-top: 7px;
}
btn:focus, .btn.focus {
	box-shadow: none !important;
    outline: 0 !important;
 
}
/*nesw end*/

/*footer start*/
.footer{
	padding: 80px 0;
	background-color: #19283f;

}
.foot{
	text-align: center;
	margin-bottom: 15px;
}
.text122{
	font-weight: 400;
	font-size: 15px;
	color: #a8b9c0;
	text-align: center;
	outline: none !important;

}
.text133{
	color: yellow !important;
	font-size: 20px;

}
.loggo{
	margin-bottom: 20px;
}
.foot{}
.foot:last-child{
	margin-bottom: 0;
}
.foot ul {
    list-style: none!important;
    padding: 0 0;
    text-align: center;
}
.foot ul li{
	margin-bottom: 10px;
}

.foot ul li a {
	text-transform: capitalize;
	outline: none !important;
	border: none !important;
	color: white !important;
	transition: .3s;
	list-style: none !important;
	text-align: left;
	text-decoration: none !important;
}
.foot ul li a p{
	text-align: center;
	text-transform: capitalize;

}
.foot ul li a p:hover{
	color: yellow !important;

}
.mail{
	width: 100% !important;
}
.list-inline-item {
    display: inline-block;
    margin-left: 5%;
}
.icon{
	padding: 20px 0;
}
.fab, .far {
    font-weight: 400;
    font-size: 30px;
    transition: .5s;
    border-radius: 50%!important;
    color: yellow;
}
.fab:hover, .far:hover {
	transform: scale(1.5);

}
/*footer end*/
